<div
  class="bg-[url('https://images.unsplash.com/photo-1495465798138-718f86d1a4bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')] w-full h-screen bg-center bg-cover bg-dunes"
>
  <div
    class="container h-40 text-5xl text-black flex justify-center py-8 font-bold font-serif"
  >
    Hello , {{ userName }}
  </div>
  <div
    class="container h-40 text-5xl text-black flex justify-center font-bold font-serif"
  >
    <ngx-typed-js
      [strings]="['Welcome To The Task Manager']"
      [loop]="true"
      [typeSpeed]="100"
      [backSpeed]="100"
    >
      <span class="typing block"></span>
    </ngx-typed-js>
  </div>
  <div class="containder bg-lime-200 flex justify-center">
    <h1 class="text-black font-bold font-serif">
      <span class="text-3xl font-bold">Task To Be Done</span>
    </h1>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 bg-fuchsia-100"
  >
    <ng-container matColumnDef="task_id">
      <th mat-header-cell *matHeaderCellDef>TaskID</th>
      <td mat-cell *matCellDef="let element">{{ element.task_id }}</td>
    </ng-container>

    <ng-container matColumnDef="taskname">
      <th mat-header-cell *matHeaderCellDef>TaskName</th>
      <td mat-cell *matCellDef="let element">{{ element.taskname }}</td>
    </ng-container>

    <ng-container matColumnDef="summary">
      <th mat-header-cell *matHeaderCellDef>Summary</th>
      <td mat-cell *matCellDef="let element">{{ element.summary }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>Priority</th>
      <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
    </ng-container>
    <!-- <ng-container matColumnDef="deldetails">
      <th mat-header-cell *matHeaderCellDef>Delete Task</th>
      <td mat-cell *matCellDef="let i = index">
        <button mat-raised-button color="primary" (click)="delRecord(i)">
          Delete
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="updetails">
      <th mat-header-cell *matHeaderCellDef>Update Task</th>
      <td mat-cell *matCellDef="let i = index">
        <button mat-raised-button color="primary" (click)="updateRecord(i)">
          update
        </button>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let i = index">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon> border_color</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="updateRecord(i)">Edit</button>
          <hr style="height: 2px" />
          <button mat-menu-item (click)="delRecord(i)">Delete</button>
        </mat-menu>
      </td></ng-container
    >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <br /><br /><br />
  <div class="conatiner flex justify-center">
    <button mat-raised-button color="primary" (click)="addTask()">
      Click to add Task
    </button>
  </div>
</div>
